---
layout: default
assets : ../assets/images/
---
<div class="row bg-row banner-row">
    
    <div class="row slogan-row">
        <div class="slogan2 large-5 small-12 medium-5">
            <h2>Power-up your portfolio</h2>
        </div>
        <div class="large-7 small-12 home-slogan">
            <ul id="cyclelist">
                <li>
                    <h4 class="testimonial first text-thin">We help organisations streamline, understand and improve the management of their corporate real estate portfolio to enhance their workplace strategies.</h4>
                </li>
                <li>
                    <h4 class="testimonial text-thin">MobileCoRE is highly recommended! Visualised reporting, plus the survey range and customisation makes for a relevant, innovative app.</h4>
                </li>
                <li>
                    <h4 class="testimonial text-thin">I’d have absolutely no hesitation in recommending The Changing Workplace’s first-class CAD bureau service.</h4>
                </li>
                <li>
                    <h4 class="testimonial text-thin">The excellent value software and service exceeded my expectations. I'd have no hesitation in recommending The Changing Workplace.</h4>
                </li>
                <li>
                    <h4 class="testimonial text-thin">I was impressed by the flexible approach to our requirements by The Changing Workplace and their quick response to questions we asked.</h4>
                </li>
                <li>
                    <h4 class="testimonial text-thin">The flexibility and customisation opportunities of WebCoRE mean we've now got exactly the system we'd hoped for.</h4>
                </li>
                <li>
                    <h4 class="testimonial text-thin">The system has proven easy to use and has the added advantage that we can build upon it in the future as our needs change.</h4>
                </li>
                <li>
                    <h4 class="testimonial text-thin">MobileCoRE has undoubtedly helped us to better measure and understand our occupancy data and productivity.</h4>
                </li>
                <li>
                    <h4 class="testimonial text-thin">The Changing Workplace provided a simple and cost-effective solution to our complex demands with the minimum of fuss.</h4>
                </li>
                <li>
                    <h4 class="testimonial text-thin">WebCoRE has proven easy to use and has the added advantage that we can build upon it in the future as our needs change.</h4>
                </li>
                
            </ul>
        </div>
        
    </div>
    <div class="row banner-content">
        <div class="swiper-container show-for-large-up">
            <div class="swiper-wrapper">
                
                <div class="swiper-slide">
                    <a href="/cad-bureau/">
                        <div class="large-4 medium-6 small-12 columns tile-container">
                            <figure class="tile">
                                <img alt="MobileCoRE, WebCoRE, CAD Bureau" class="tile-img" src="{{ page.assets }}product-img/CAD Bureau1.png">
                                <div class="tile-title">
                                    <div class="title-inner">
                                        <h2 class="text-light text-thin">CAD Bureau</h2>
                                    </div>
                                </div>
                                <figcaption class="text-dark tile-content">
                                <h2 class="text-center text-thin text-dark">CAD Bureau</h2>
                                <p style="border-top:2px solid rgb(229, 229, 229);"><br>Our CAD bureau services are globally renowned and can be customised as required. </p>
                                <div class="row readmore-row">
                                    <div class="large-7 large-offset-2 columns"><h5 class="text-thin text-dark" style="text-align:right;"><i>Read more</i></h5></div>
                                    <div class="large-3 columns readmore-container"><img alt="MobileCoRE, WebCoRE, CAD Bureau, Workplace Tracking, Software, Solutions, CAFM" class="readmore" src="/{{ page.assets }}readmore.png"></div>
                                </div>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                    <a href="/mobilecore/">
                        <div class="large-4 medium-6 small-12 columns tile-container">
                            <figure class="tile">
                                <img alt="MobileCoRE, WebCoRE, CAD Bureau" class="tile-img" src="{{ page.assets }}product-img/MobileCoRE1.png">
                                <div class="tile-title">
                                    <div class="title-inner">
                                        <h2 class="text-light text-thin">MobileCoRE</h2>
                                    </div>
                                </div>
                                <figcaption class="text-dark tile-content">
                                <h2 class="text-center text-thin text-dark">MobileCoRE</h2>
                                <p style="border-top:2px solid rgb(229, 229, 229);"><br>MobileCoRE is available on Windows 8 and iOS. It's a mobile app for conducting space utilisation and other types of surveys, facilitating reporting and visualisation of building data.</p>
                                <div class="row readmore-row">
                                    <div class="large-7 large-offset-2 columns"><h5 class="text-thin text-dark" style="text-align:right;"><i>Read more</i></h5></div>
                                    <div class="large-3 columns readmore-container"><img alt="MobileCoRE, WebCoRE, CAD Bureau, Workplace Tracking, Software, Solutions, CAFM" class="readmore" src="/{{ page.assets }}readmore.png"></div>
                                </div>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                    <a href="/webcore/">
                        <div class="large-4 medium-6 small-12 columns tile-container">
                            <figure class="tile">
                                <img alt="MobileCoRE, WebCoRE, CAD Bureau" class="tile-img" src="{{ page.assets }}product-img/WebCoRE1.png">
                                <div class="tile-title">
                                    <div class="title-inner">
                                        <h2 class="text-light text-thin">WebCoRE</h2>
                                    </div>
                                </div>
                                <figcaption class="text-dark tile-content">
                                <h2 class="text-center text-thin text-dark">WebCoRE</h2>
                                <p style="border-top:2px solid rgb(229, 229, 229);"><br>WebCoRE is a simple and dynamic Computer Aided Facilities Management (CAFM) system that is trusted in over 130 countries across the globe.</p>
                                <div class="row readmore-row">
                                    <div class="large-7 large-offset-2 columns"><h5 class="text-thin text-dark" style="text-align:right;"><i>Read more</i></h5></div>
                                    <div class="large-3 columns readmore-container"><img alt="MobileCoRE, WebCoRE, CAD Bureau, Workplace Tracking, Software, Solutions, CAFM" class="readmore" src="/{{ page.assets }}readmore.png"></div>
                                </div>
                                </figcaption>
                            </figure>
                        </div>
                    </a>                
                </div>
                <div class="swiper-slide">
                    {% for posts in site.categories.products offset:2 limit:3 %}
                        <a href="{{ posts.url | prepend: site.baseurl }}">
                            <div class="large-4 medium-6 small-12 columns tile-container">
                                <figure class="tile">
                                    <img alt="MobileCoRE, WebCoRE, CAD Bureau" class="tile-img" src="{{ page.assets }}product-img/{{ posts.title }}1.png">
                                    <div class="tile-title">
                                        <div class="title-inner">
                                            <h2 class="text-light text-thin">{{ posts.title }}</h2>
                                        </div>
                                    </div>
                                    <figcaption class="text-dark tile-content">
                                    <h2 class="text-dark text-thin text-center">{{ posts.title }}</h2>
                                    <p style="border-top:2px solid rgb(229, 229, 229);"><br>{{ posts.summary }} </p>
                                    <div class="row readmore-row">
                                        <div class="large-7 large-offset-2 columns"><h5 class="text-thin text-dark" style="text-align:right;"><i>Read more</i></h5></div>
                                        <div class="large-3 columns readmore-container"><img alt="MobileCoRE, WebCoRE, CAD Bureau, Workplace Tracking, Software, Solutions, CAFM" class="readmore" src="/{{ page.assets }}readmore.png"></div>
                                    </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="my-pagination"></div>
    </div>
</div>
<div class="fullwidth green"></div>
<div class="row bg-row news-row">
    <br>
    <br>
    <div class="row">
        <div class="large-4 columns">
            <h2 class="text-dark text-thin">The <b>Latest</b></h2>
            <div class="row spacer-row"></div>
        </div>
    </div>
    <div class="row banner-content">
        {% for posts in site.categories.news limit:3 %}
            <a href="{{ posts.url | prepend: site.baseurl }}">
                <div class="large-4 medium-6 small-12 columns tile-container">
                    <figure class="tile">
                        <div class="tile-title">
                            <div class="title-inner">
                                <h2 class="text-light text-thin">{{ posts.title }}</h2>
                            </div>
                        </div>
                        <figcaption class="text-dark tile-content">
                        <h2 class="text-dark text-thin text-center">{{ posts.title }}</h2>
                        <p style="border-top:2px solid rgb(229, 229, 229);">{{ posts.summary }} </p>
                        <div class="row readmore-row">
                            <div class="large-4 columns">
                                <p style="font-size:small!important;" class="readmore-date text-thin text-dark"><b>{{ posts.date | date: "%b %d, %y" }}</b></p>
                            </div>
                            <div class="readmore-hover">
                                <div class="large-5 columns"><h5 class="text-thin text-dark" style="text-align:right;"><i>Read more</i></h5></div>
                                <div class="large-3 columns readmore-container"><img class="readmore" src="/{{ page.assets }}readmore.png"></div>
                            </div>
                            
                        </div>
                        </figcaption>
                    </figure>
                </div>
            </a>
        {% endfor %}
    </div> 
</div>
<div class="fullwidth spacer purple"></div>
<div id="contact" class="row bg-row contact-row">
	<br>
	<br>
	<div class="row">
		<div class="large-4 columns">
			<h2 class="text-light text-thin">Get <b>in touch</b></h2>
			<div class="row spacer-row"></div>
		</div>
	</div>
	<div class="row banner-content">
		<div class="large-6 medium-6 small-12 columns tile-container">
			<form class="contact-form" method="post" action="contactengine.php">
				<textarea required="true" style="resize:none;overflow:hidden;height:70px;padding:15px!important;" value="Name" type="text" name="Name" placeholder="Your name"></textarea>
				<textarea style="resize:none;overflow:hidden;height:70px;padding:15px!important;" value="Number" type="Number" name="Number" placeholder="Your number (optional)"></textarea>
				<textarea required="true" style="resize:none;overflow:hidden;padding:15px!important;height:70px;" type="email" name="Email" placeholder="Your email address"></textarea>
				<textarea style="min-height:250px!important" rows="9" name="Message" type="text" placeholder="Your message"></textarea>
                <textarea name="hiddenInput1" style="opacity:0;position:absolute;z-index:500;" id="hiddenInput1" cols="30" rows="10"></textarea>
                <textarea name="hiddenInput2" style="opacity:0;position:absolute;z-index:500;" id="hiddenInput2" cols="30" rows="10"></textarea>
				<input class="dark-blue" style="position:relative;z-index:900;" value="Submit" type="submit"></input>
			</form>
		</div>
		<div class="large-6 medium-6 small-12 column">
			<div class="large-12 small-12 panel clearfix">
				<h4>Address: </h4><p>1 Boltro Road, Haywards Heath, West Sussex, RH16 1BY</p>
				<h4>Phone: </h4><p>+44 (0) 1444 441000</p>
			</div>
			<div class="large-12 map-container medium-12 small-12 column">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2510.6574435320517!2d-0.10619799999997226!3d51.004002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48758cb09d32fda7%3A0x6facfcf13a42a3c2!2sThe+Changing+Workplace!5e0!3m2!1sen!2suk!4v1413885398182" width="100%" height="310" frameborder="0" style="border:0"></iframe>
			</div>
		</div>
	</div>

      </div>
    </div>



  </body>

</html>
