---
layout: default
assets : /assets/images/
---
<style type="text/css">
.inner img{ 
width: 100%!important;
}
.fullwidth.white{
  min-height: 100vh!important;
}
.inner>.column>h3>ul{
background-color: #763259;
width: 100%;
margin-left:0;
padding: 15px;
padding-left: 2em;
}
.inner>.column>h3>ul>li{
color: #F2F2F4!important;
}
</style>
<div class="fullwidth white">
  <article class="inner row"><br>
    <div class="large-12 column">
      <h1 class="text-center text-thin">{{ page.title }}</h1>
    </div>
    <div class="large-8 column">
      <h3 class="text-thin">{% if page.categories contains 'news' %}<b>{{ page.date | date: "%b %d, %y" }}</b><br> {% endif %}{{ content }}</h3>
    </div>
    <div class="large-3 large-offset-1 medium-3 medium-offset-4 column">
      {% if page.contains_pdf == 'yes' %}
        {% if page.pdf_name %}
          <a target="_blank" rel="nofollow" href="/assets/pdf/{{ page.pdf_name }}.pdf">
            <div class="download-panel">
              <div class="page-fold">
                <div class="corner-bottom-left"></div>
                <div class="corner-padding"></div>
              </div>
              <h4 class="download-title text-left">Download</h4>
              <div class="half-line half1"></div>
              <div class="full-line full1"></div>
              <div class="full-line full2"></div>
              <div class="quarter-line quarter1"></div><br>
              <div class="full-line full3"></div>
              <div class="half-line half2"></div>
              <div class="full-line full4"></div>
            </div>
          </a>
        {% else %}
          <a target="_blank" rel="nofollow" href="/assets/pdf/{{ page.title }}.pdf">
            <div class="download-panel">
              <div class="page-fold">
                <div class="corner-bottom-left"></div>
                <div class="corner-padding"></div>
              </div>
              <h4 class="download-title text-left">Download</h4>
              <div class="half-line half1"></div>
              <div class="full-line full1"></div>
              <div class="full-line full2"></div>
              <div class="quarter-line quarter1"></div><br>
              <div class="full-line full3"></div>
              <div class="half-line half2"></div>
              <div class="full-line full4"></div>
            </div>
          </a>
        {% endif %}
      {% else %}
      <a target="_blank" href="/index.html#contact">
        <div class="envelope-panel">
          <div class="corner-left"></div>
          <div class="corner-right"></div>
          <div class="corner-up"></div>
          <div class="corner-down"></div>
          <div class="page">
            <h3 style="color:#8C8C8C" class="download-title title-transition text-left">Get in touch</h3>
            <div style="background-color:#8C8C8C;" class="half-line half1"></div>
            <div style="background-color:#8C8C8C;" class="full-line full1">  </div>
            <div style="background-color:#8C8C8C;" class="full-line full2"></div>
          </div>
        </div>
      </a>
      {% endif %}
      <h3 class="text-thin"></h3>
    </div>
  </article>
  <div class="fullwidth purple" style="margin-top:100px;height:80px;"><div class="inner"></div></div>
</div>
