---
layout: default
assets : ../assets/images/
title: MobileCoRE
summary: MobileCoRE is available on Windows 8 and iOS. It’s a mobile app for conducting space utilisation and other types of surveys, facilitating reporting and visualisation of building data.
ring1content: Preset and customisable functionality means no paper plans are required for space utilisation and occupancy surveys, observation studies and floor walks.
ring2content: Control your workload and conduct surveys on the move. Highly visual and interactive reports give clear output analysis and an opportunity to act immediately on the results.
contains_pdf : yes
pdf_name: MobileCoRE Flyer 2014
---
</style>
{% if page.contains_pdf %}
            {% if page.pdf_name %}
              <a target="_blank" href="/assets/pdf/{{ page.pdf_name }}.pdf">
                <div class="hide-for-small-only download-container" style="text-align:center;">
                  <img alt="Our Products and Services: WebCoRE, MobileCoRe, CAD Bureau, Workplace Tracking, Space Management" class="download-icon" src="/assets/images/download-icon.png" alt="">
                </div>
              </a>
            {% else %}
              <a target="_blank" href="/assets/pdf/{{ page.title }}.pdf">
                <div class="hide-for-small-only download-container" style="text-align:center;">
                  <img alt="Our Products and Services: WebCoRE, MobileCoRe, CAD Bureau, Workplace Tracking, Space Management" class="download-icon" src="/assets/images/download-icon.png" alt="">
                </div>
              </a>
            {% endif %}
{% endif %}
<div class="fullwidth white">
    <article class="inner row"><br>
        <div class="large-12 column">
            <h1 class="text-center text-thin">{{ page.title }}</h1>
        </div>
        <div class="large-8 large-offset-2 column">
            <h3 class="text-center text-thin">{{ page.summary }}</h3>
        </div>
  </article>
</div>
<div class="fullwidth purple">
    <article class="inner row"><br><br>
        <div class="large-5 column text-center inline ">
            <h3 class="text-center text-light text-thin"><br><br>{{ page.ring1content }}</h3>
        </div>
        <div class="large-7 3d-img inline middle column ">
            <img class="" src="{{ page.assets }}product-img/{{ page.title }}1.png">
        </div>
  </article>
</div> 
<div class="fullwidth pale-blue">
    <article class="inner row"><br><br> 
        <div class="large-6 column middle inline">
            <img class="" src="{{ page.assets }}product-img/{{ page.title }}2.png">
        </div>
        <div class="large-6 column inline "> 
            <h3 class="text-center text-thin"><br><br><br>{{ page.ring2content }}</h3>
        </div>
        
  </article>
</div>
<div class="fullwidth white"> 
    <div class="inner row">
        {% for posts in site.categories.products-mobile %}
           <a href="{{ posts.url | prepend: site.baseurl }}">
                            <div class="large-4 medium-6 small-12 columns tile-container">
                                <figure class="tile">
                                    <img class="tile-img" src="{{ page.assets }}product-img/{{ posts.title }}1.png">
                                    <div class="tile-title">
                                        <div class="title-inner">
                                            <h2 class="text-light text-thin">{{ posts.title }}</h2>
                                        </div>
                                    </div>
                                    <figcaption class="text-dark tile-content">
                                    <h2 class="text-dark text-thin text-center">{{ posts.title }}</h2>
                                    <p style="border-top:2px solid rgb(229, 229, 229);"><br>{{ posts.summary }} </p>
                                    <div class="row readmore-row">
                                        <div class="large-7 large-offset-2 columns"><h5 class="text-thin text-dark" style="text-align:right;"><i>Read more</i></h5></div>
                                        <div class="large-3 columns readmore-container"><img class="readmore" src="/assets/images/readmore.png"></div>
                                    </div>  
                                    </figcaption>
                                </figure>
                            </div>
                        </a>
        {% endfor %}
            
            
        </div>  
</div>

